<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 230px; height: 100vh;">
    <div class="d-flex justify-space-around">
        <img src="/assets/images/logo-fruver.png" alt="logo" class="logo-icon">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <span class="fs-4 title">Fruver</span>
        </a>
    </div>

    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['home']" 
            [routerLinkActive]="['active']">
                Productos
            </a>
        </li>
        <div *ngIf="user?.rol === 'USER'">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" [routerLink]="['listar-pedidos']"
                    [routerLinkActive]="['active']">
                    Pedidos
                </a>
            </li>
        </div>
        <div *ngIf="user?.rol === 'ADMIN'">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" [routerLink]="['editar-productos']"
                    [routerLinkActive]="['active']">
                    Gestionar Productos
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" [routerLink]="['listar-pedidos']"
                    [routerLinkActive]="['active']">
                    Gestionar Pedidos
                </a>
            </li>
        </div>
    </ul>





</div>